# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.env
.env.*
.venv/
venv/

# Logs
logs/
*.log

# ML / Data
model.pkl
models/
data/

# OS
.DS_Store

# Editor / History
.history/
.idea/
.vscode/

# Coverage
.coverage
htmlcov/
